#pdf-section{
    min-height: 60vh;
    margin: 10vh 3vw;
}

#input-button-div{
    margin: 5vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#btn-upload{
    background-color: var(--color2);
    padding: 1vh 1.5vw;
    font-size: 150%;
    border:none;
    color:var(--color0);
    cursor: pointer;
    margin-left: 2vw;
}

#btn-upload:hover{
    background-color: var(--color4);
}


#first-final-page-inputs input{
    padding: 0.6vh;
    border:none;
    background-color: var(--color4);
    font-size: 140%;
    width: 5vw;
    text-align: center;
    color:var(--color0)
}
#input-initial-page{
    margin-right:2vw
}

#result-text{
    width:100%;
    height: 60vh; 
    font-size: 220%;
    text-align: center;
    background-color: var(--color4);
    color: var(--color0);

}

#text-div{
    text-align: center;
    font-size: 180%;
    background-color: var(--color4);
    color: var(--color0);
    padding: 5vh
}

.hear-phrase,.translated-phares-p{
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: var(--color2);
    color: var(--color0);
    margin: 0 1vw;
    height: 4vh;
    padding: 5px;
}

.hear-phrase{
    margin-left: 4vw;
}

.div-phrase{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.speaking-btn{
    background-color: var(--color2);
    color: var(--color0);
    padding: 1vh;
    font-size: 120%;
    border: none;
    cursor: pointer;
    margin: 2vh 3vw;
    min-width:10vw;
}

.speaking-btn:hover{
    background-color: var(--color1);
}

#text-will-appear{
    margin:5vh 0;
    font-size: 140%;
}

.translated-phares{
    display:none;
}

.translated-phares.appear{
    display:flex;
    background-color: rgb(233, 233, 159);
    color:black;
    font-size: 80%;
}

.btn-phrase{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.phrases-and-translation{
    display: flex;
    flex-direction: column;
}

#header-speak{
    margin-bottom: 5vh;
}

#input-voice-options{
    padding: 0.7vw;
    background-color: var(--color1);
    color: var(--color0);
    border:1px solid black
}

#range-option-inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 1vh 30vw;
}